// ==UserScript==
// @name        Custom Styles
// @match       https://www.milkywayidle.com/game*
// @grant       none
// @version     1.0.6
// @author      AJman14
// ==/UserScript==

document.head.insertAdjacentHTML("beforeend", `<style>

/* Setting the color scheme */
:root {
    --color-primary: #409530;
    --color-primary-hover: #46bd2f;
    --color-primary-alt: #195e0c;
    --color-primary-dark: #1d4616;
    --color-success: #cd7d06;
    --color-success-hover: #ff9900;
    --color-warning: #a00a0a;
    --color-warning-hover: #cd1414;
    --color-progress: var(--color-primary);
    --color-hitpoints: var(--color-primary);
    --color-manapoints: #ae49ef;
    --color-market-sell: var(--color-success);
    --color-market-sell-hover: var(--color-success-hover);
    --color-market-buy: var(--color-primary);
    --color-market-buy-hover: var(--color-primary-hover);
}

/* Scrollbars */
body{
    scrollbar-color: var(--color-primary-hover) transparent;
}

/* Character select screen */
[class*=CharacterSelectPage_characterSlots] [class*=CharacterName_characterName]{
    color: var(--color-primary-hover);
}
[class*=CharacterSelectPage_gameMode]{
    color: var(--color-secondary) !important;
}
[class*=CharacterSelectPage_status]{
    color: var(--color-success);
}

/* Current number of active players */
[class*=Header_playerCount]{
    color: var(--color-secondary-hover) !important;
}

/* Server buffs */
[class*=CommunityBuff_communityBuff_]{
    border: 1px solid var(--color-primary-hover);
    background-color: var(--color-midnight-500);
}
[class*=CommunityBuff_communityBuff_]:hover{
    background-color: var(--color-midnight-300);
}

/* Header - character name */
[class*=Header_info] [class*=Header_name]{
    color: var(--color-primary-hover);
}
/* Header - current level */
[class*=Header_info] [class*=Header_totalLevel]{
    color: var(--color-secondary-hover);
}

/* Queued actions button */
[class*=QueuedActions_queuedActions]{
    border: none;
}

/* Marketplace (and other?) Buttons */
[class*=Button_sell],
[class*=Button_buy],
[class*=Button_success]{
    color: #ffffff !important;
}
/* Marketplace button up arrow */
[class*=Button_sell] svg,
[class*=Button_buy] svg{
    filter: invert(100%);
}

/* Task Reroll button, Loadout import button */
[class*=RandomTask_discardButtonContainer] + [class*=Button_button],
[class*=LoadoutsPanel_buttonsContainer] > [class*=Button_button]:nth-of-type(1){
    background: var(--color-success);
}
[class*=RandomTask_discardButtonContainer] + [class*=Button_button]:hover,
[class*=LoadoutsPanel_buttonsContainer] > [class*=Button_button]:nth-of-type(1):hover{
    background: var(--color-success-hover);
}
/* Task Go and other "success" buttons */
[class*=Button_success]{
    background: var(--color-primary) !important;
}
[class*=Button_success]:hover{
    background: var(--color-primary-hover) !important;
}

/* Chat, Marketplace, and Sidebar alerts */
[class*=NavigationBar_badges] [class*=NavigationBar_badge_],
[class*=MuiTabs-root] [class*=MuiButtonBase-root] [class*=MuiBadge-badge] {
    color: #ffffff !important;
}
/* Chat and Marketplace tab alerts */
[class*=MuiTabs-root] [class*=MuiButtonBase-root] [class*=MuiBadge-badge] {
    background: var(--color-success) !important;
}

/* Chat Moderator messages, System messages */
[class*=ChatMessage_chatMessage][class*=ChatMessage_modMessage]{
    color: var(--color-success-hover) !important;
}
[class*=ChatMessage_chatMessage][class*=ChatMessage_systemMessage]{
    color: var(--color-secondary-hover);
}
/* Chat links */
[class*=ChatMessage_chatMessage] a{
    color: var(--color-primary) !important;
}
[class*=ChatMessage_chatMessage] a:hover{
    color: var(--color-primary-hover) !important;
}

/* Chat Moderator icon */
[class*=CharacterName_chatIcon]:has(svg > use[href*=".svg#moderator"]){
    filter: hue-rotate(136deg) saturate(1.5) brightness(1.2) drop-shadow(0px 0px 2px var(--color-success));
}

/* OK button while replacing current queue, fleeing battle, etc. */
[class*=DialogModal_buttonsContainer] [class*=DialogModal_buttonContainer]:nth-of-type(2) [class*=Button_button]{
    background: var(--color-success) !important;
}
[class*=DialogModal_buttonsContainer] [class*=DialogModal_buttonContainer]:nth-of-type(2) [class*=Button_button]:hover{
    background: var(--color-success-hover) !important;
}

/* Skill level progress, task completion bar */
[class*=NavigationBar_currentExperience],
[class*=RandomTask_progressBar] [class*=RandomTask_completed]{
    background: var(--color-primary-hover) !important;
}
/* Task completion before reaching 100% */
[class*=RandomTask_progressBar] [class*=RandomTask_completed]:not([style="width: 100%;"]){
    background: var(--color-primary) !important
}
/* Task completion bar background */
[class*=TasksPanel_taskList]{
    --color-empty: transparent;
}

/* Sidebar Marketplace/Tasks/Skill links, Tabs (marketplace, chat,...) */
[class*=NavigationBar_navigationLink_]:hover,
[class*=MuiButtonBase-root]:hover{
    background: var(--color-primary-dark) !important;
    color: #ffffff;
}
[class*=NavigationBar_active],
[class*=NavigationBar_active]:hover{
    background: var(--color-primary-alt) !important;
}

/* Selected tab (Chat, Marketplace, etc...), Selection popup items (Party location, Loadout,...) */
[class*=Mui-selected],
[class*=Mui-selected]:hover{
    background: var(--color-primary) !important;
    color: #ffffff !important;
}

/* Inline styled spans (see Alchemy "Coinify",...) */
span[style*="color: var(--color-space-300);"] {
    color: var(--color-primary) !important;
}

/* Loadout slot */
[class*=LoadoutsPanel_characterLoadout_]{
    color: var(--color-primary-hover);
}

/* Sidebar Tea skill bonus, Loadout missing item */
[class*=NavigationBar_level] [class*=NavigationBar_boost],
[class*=LoadoutsPanel_missing]{
    color: var(--color-success-hover) !important;
}

/* Popup text labels, Chat timestamp, Offline text labels, Dictionary popup headings, House popup headings */
[class*=SkillActionDetail_label],
[class*=ChatMessage_timestamp],
[class*=OfflineProgressModal_label],
[class*=ItemDictionary_header],
[class*=HousePanel_modalContent] [class*=HousePanel_label]{
    color: var(--color-primary) !important;
}
/* Requirement not met (Not enough skill crafting/house building ingredients,...) */
[class*=SkillActionDetail_notMet],
[class*=HousePanel_notMet]{
    color: var(--color-warning-hover) !important;
}

/* Reducing the task sizes a little bit. They are too wide. */
[class*=TasksPanel_taskList]{
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
}
/* All tasks - Purple, Unread, Active */
[class*=TasksPanel_taskList] > div{
    min-width: 250px !important;
}

/* Combat damage dealt/taken alert */
[class*=CombatUnit_damage]{
    background-color: var(--color-warning) !important;
}
/* Auto Attack / Spell Casting */
[class*=BattlePanel] [class*=CombatUnit] [class*=ProgressBar_innerBar_]{
    background-color: var(--color-success);
}
/* Respawn countdown number */
[class*=CountdownOverlay_countdownOverlay] > span > span + br + span{
    color: var(--color-success-hover) !important;
    text-shadow: 0px 0px 2px #000000, 0px 0px 9px #000000;
}

/* Prepend current action with its name - example: "Milking: Azure Cow (14)" */
[class*=Header_actionName]:has(svg > use[href*='.svg#milking']):before {
    content: 'Milking:';
}
[class*=Header_actionName]:has(svg > use[href*='.svg#foraging']):before {
    content: 'Foraging:';
}
[class*=Header_actionName]:has(svg > use[href*='.svg#woodcutting']):before {
    content: 'Woodcutting:';
}
[class*=Header_actionName]:has(svg > use[href*='.svg#cheesesmithing']):before {
    content: 'Cheesesmithing:';
}
[class*=Header_actionName]:has(svg > use[href*='.svg#crafting']):before {
    content: 'Crafting:';
}
[class*=Header_actionName]:has(svg > use[href*='.svg#tailoring']):before {
    content: 'Tailoring:';
}
[class*=Header_actionName]:has(svg > use[href*='.svg#cooking']):before {
    content: 'Cooking:';
}
[class*=Header_actionName]:has(svg > use[href*='.svg#brewing']):before {
    content: 'Brewing:';
}
[class*=Header_actionName]:has(svg > use[href*='.svg#alchemy']):before {
    content: 'Alchemy:';
}
[class*=Header_actionName]:has(svg > use[href*='.svg#enhancing']):before {
    content: 'Enhancing:';
}
[class*=Header_actionName]:has(svg > use[href*='.svg#combat']):before {
    content: 'Combat:';
}

/* Prepend your HP/MP bar at the top with "Your Stats:" */
[class*=Header_progressBarAndButton]:has([class*=Header_hpMpBars]):before {
    content: 'Your Stats:';
}

/* Append HP/MP on health/mana bars - Example: "141/500 HP" */
[class*=HitpointsBar_hpValue]:after{
    content: ' HP';
}
[class*=ManapointsBar_mpValue]:after{
    content: ' MP';
}

/* Active skill cheese wheel animation */
[class*=SkillAction_activeHammi]{
    z-index: 1;
}
[class*=SkillAction_activeHammi] > [class*=Icon_icon]{
    filter: drop-shadow(0px 0px 10px var(--color-success-hover));
}

</style>`)
