// ==UserScript==
// @name        Custom Styles
// @match       https://www.milkywayidle.com/game*
// @grant       none
// @version     1.0.1
// @author      AJman14
// ==/UserScript==

document.head.insertAdjacentHTML("beforeend", `<style>

#steam-milkywayidle-scripts-list > div{
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 2px 2px 2px 6px;
    background: #ffffff;
}
#steam-milkywayidle-scripts-list > div:hover{
    background: none;
}
#steam-milkywayidle-script-manager-panel > button:nth-of-type(1),
#steam-milkywayidle-scripts-list > div > button,
#steam-milkywayidle-save-script-button{
    background: var(--color-warning);
    color: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 0.3em 0.6em;
}
#steam-milkywayidle-scripts-list > div > button:hover{
    background: var(--color-warning-hover);
}
#steam-milkywayidle-save-script-button{
    background: var(--color-primary);
}
#steam-milkywayidle-save-script-button:hover{
    background: var(--color-primary-hover);
}
#steam-milkywayidle-script-manager-panel > button:nth-of-type(1){
    background: var(--color-success);
}
#steam-milkywayidle-script-manager-panel > button:nth-of-type(1):hover{
    background: var(--color-success-hover);
}

:root {
    --color-primary: #409530;
    --color-primary-alt: #195e0c;
    --color-primary-dark: #1d4616;
    --color-primary-hover: #46bd2f;
    --color-progress: var(--color-primary);
    --color-hitpoints: var(--color-primary);
    --color-manapoints: #ae49ef;
    --color-market-sell: var(--color-warning);
    --color-market-sell-hover: var(--color-warning-hover);
    --color-market-buy: var(--color-primary);
    --color-market-buy-hover: var(--color-primary-hover);
    --color-success: #cd7d06;
    --color-success-hover: #ff9900;
    --color-warning: #a00a0a;
    --color-warning-hover: #cd1414;
}

body{
    scrollbar-color: var(--color-primary-hover) transparent;
}

[class*=QueuedActions_queuedActions]{
    border: none;
}

[class*=Button_sell],
[class*=Button_buy],
[class*=Button_success]{
    color: #ffffff !important;
}
[class*=Button_sell] svg,
[class*=Button_buy] svg{
    filter: invert(100%);
}
[class*=RandomTask_discardButtonContainer] + [class*=Button_button]{
    background: var(--color-success);
}
[class*=RandomTask_discardButtonContainer] + [class*=Button_button]:hover{
    background: var(--color-success-hover);
}
[class*=Button_success]{
    background: var(--color-primary) !important;
}
[class*=Button_success]:hover{
    background: var(--color-primary-hover) !important;
}

[class*=NavigationBar_badges] [class*=NavigationBar_badge_],
[class*=MuiTabs-root] [class*=MuiButtonBase-root] [class*=MuiBadge-badge] {
    background: var(--color-success) !important;
    color: #ffffff !important;
}

[class*=DialogModal_buttonsContainer] [class*=DialogModal_buttonContainer]:nth-of-type(2) [class*=Button_button]{
    background: var(--color-success) !important;
}
[class*=DialogModal_buttonsContainer] [class*=DialogModal_buttonContainer]:nth-of-type(2) [class*=Button_button]:hover{
    background: var(--color-success-hover) !important;
}

[class*=NavigationBar_currentExperience],
[class*=RandomTask_progressBar] [class*=RandomTask_completed]{
    background: var(--color-primary-hover) !important;
}
[class*=TasksPanel_taskList]{
    --color-empty: transparent;
}
[class*=NavigationBar_navigationLink_]:hover,
[class*=MuiButtonBase-root]:hover{
    background: var(--color-primary-dark) !important;
    color: #ffffff;
}
[class*=NavigationBar_active],
[class*=NavigationBar_active]:hover{
    background: var(--color-primary-alt) !important;
}
[class*=Mui-selected],
[class*=Mui-selected]:hover{
    background: var(--color-primary) !important;
}

span[style*="color: var(--color-space-300);"] {
    color: var(--color-primary) !important;
}

[class*=SkillActionDetail_label],
[class*=ChatMessage_timestamp]{
    color: var(--color-primary) !important;
}

[class*=TasksPanel_taskList]{
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
}
[class*=RandomTask_randomTask],
[class*=TasksPanel_purplesGift]{
    min-width: 250px !important;
}

[class*=CombatUnit_damage]{
    background-color: var(--color-warning) !important;
}
[class*=BattlePanel] [class*=CombatUnit] [class*=ProgressBar_innerBar_]{
    background-color: var(--color-success);
}
[class*=CountdownOverlay_countdownOverlay] > span > span + br + span{
    color: var(--color-success-hover) !important;
    text-shadow: 0px 0px 2px #000000, 0px 0px 9px #000000;
}

[class*=Header_actionName]:has(svg > use[href*='.svg#milking']):before {
    content: 'Milking:';
}
[class*=Header_actionName]:has(svg > use[href*='.svg#foraging']):before {
    content: 'Foraging:';
}
[class*=Header_actionName]:has(svg > use[href*='.svg#woodcutting']):before {
    content: 'Woodcutting:';
}
[class*=Header_actionName]:has(svg > use[href*='.svg#cheesesmithing']):before {
    content: 'Cheesesmithing:';
}
[class*=Header_actionName]:has(svg > use[href*='.svg#crafting']):before {
    content: 'Crafting:';
}
[class*=Header_actionName]:has(svg > use[href*='.svg#tailoring']):before {
    content: 'Tailoring:';
}
[class*=Header_actionName]:has(svg > use[href*='.svg#cooking']):before {
    content: 'Cooking:';
}
[class*=Header_actionName]:has(svg > use[href*='.svg#brewing']):before {
    content: 'Brewing:';
}
[class*=Header_actionName]:has(svg > use[href*='.svg#alchemy']):before {
    content: 'Alchemy:';
}
[class*=Header_actionName]:has(svg > use[href*='.svg#enhancing']):before {
    content: 'Enhancing:';
}
[class*=Header_actionName]:has(svg > use[href*='.svg#combat']):before {
    content: 'Combat:';
}
[class*=Header_progressBarAndButton]:has([class*=Header_hpMpBars]):before {
    content: 'Your Stats:';
}

</style>`)
