// ==UserScript==
// @name        No-Gather Iron Cow
// @match       https://www.milkywayidle.com/game*
// @grant       none
// @version     1.0.0
// @author      AJman14
// ==/UserScript==

document.head.insertAdjacentHTML("beforeend", `<style>

/* No-Gather Iron Cow */
[class*=NavigationBar_navigationLink__]:has(svg > use:is([href*=".svg#milking"], [href*=".svg#foraging"], [href*=".svg#woodcutting"])){
    pointer-events: none;
    cursor: not-allowed;
    background: #7772;
    color: #999;
}
[class*=NavigationBar_navigationLink__] svg:has( > use:is([href*=".svg#milking"], [href*=".svg#foraging"], [href*=".svg#woodcutting"])){
    filter: brightness(0.7) grayscale(1);
}
[class*=NavigationBar_navigationLink__]:has(svg > use:is([href*=".svg#milking"], [href*=".svg#foraging"], [href*=".svg#woodcutting"])) [class*=NavigationBar_level]{
    color: transparent;
}
[class*=NavigationBar_navigationLink__]:has(svg > use:is([href*=".svg#milking"], [href*=".svg#foraging"], [href*=".svg#woodcutting"])) [class*=NavigationBar_level]:after{
    content: "N/A";
    color: #999;
}
[class*=NavigationBar_navigationLink__]:has(svg > use:is([href*=".svg#milking"], [href*=".svg#foraging"], [href*=".svg#woodcutting"])) [class*=NavigationBar_experienceBar]{
    opacity: 0;
}

</style>`)
