// ==UserScript==
// @name        Stylized Extension Manager
// @match       https://www.milkywayidle.com/game*
// @grant       none
// @version     1.0.1
// @author      AJman14
// ==/UserScript==

document.head.insertAdjacentHTML("beforeend", `<style>

/* Script Manager */
#steam-milkywayidle-script-manager-panel{
    overflow: auto;
}
/* Enabled script */
#steam-milkywayidle-scripts-list > div{
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 2px 2px 2px 6px;
    background: #ffffff;
}
#steam-milkywayidle-scripts-list > div:hover{
    background: none;
}

/* Textarea */
#steam-milkywayidle-script-editor {
    width: 100%;
    resize: vertical;
    min-height: 9rem;
    max-height: calc(100vh - 16rem);
}
/* Textarea default height */
#steam-milkywayidle-script-editor[style*="height: 200px;"] {
    height: calc(75vh - 20rem) !important;
}

/* Buttons */
#steam-milkywayidle-script-manager-panel > button:nth-of-type(1),
#steam-milkywayidle-scripts-list > div > button,
#steam-milkywayidle-save-script-button{
    color: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 0.3em 0.6em;
}
/* Delete and Reload button */
#steam-milkywayidle-scripts-list > div > button{
    background: var(--color-warning);
}
#steam-milkywayidle-scripts-list > div > button:hover{
    background: var(--color-warning-hover);
}
/* Save and Reload button */
#steam-milkywayidle-save-script-button{
    background: var(--color-primary);
}
#steam-milkywayidle-save-script-button:hover{
    background: var(--color-primary-hover);
}
/* Close Extension Manager button */
#steam-milkywayidle-script-manager-panel > button:nth-of-type(1){
    background: var(--color-success);
}
#steam-milkywayidle-script-manager-panel > button:nth-of-type(1):hover{
    background: var(--color-success-hover);
}

</style>`)
